@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #0ea5e9;
  border-radius: 5px;
  border: 0px solid;
}

@tailwind components;
@tailwind utilities;

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.background {
  background-image: url("../public/assets/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.blue-background {
  background-image: url("../src/asset/category/images/signup-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.signup-background {
  background-image: url("./asset/category/images/signup-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.weeding-venue
{
  background-image: url("./asset/category/images/wedding-venues.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.photographers
{
  background-image: url("./asset/category/images/photographers.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.catering
{
  background-image: url("./asset/category/images/catering.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.beauty
{
  background-image: url("./asset/category/images/beauty-salons.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.nikah
{
  background-image: url("./asset/category/images/nikah.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.clothing
{
  background-image: url("./asset/category/images/clothing.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-keery
{
  background-image: url("./asset/category/images/bg-keery.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: start;
}