/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/vendor
/public/build
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.vapor/
.env.production
.env.staging
clear-cache.sh
db-reset.sh
.env.qa
.env.uat
public/mix-manifest.json
.vagrant/
Vagrantfile
after.sh
aliases
.DS_Store
public/.DS_Store
public/images/.DS_Store
public/images/svg/.DS_Store
_ide_*
*.meta.php
.env.test
